
.text {
    font-size: 40px;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    }


.text:hover {
    color: #0056b3;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074D9;
    color: #fff;
    text-decoration: none;
    border: 1px solid #0074D9;
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}


.btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
}

.ul {
    display: inline;
    flex-direction: column;
    max-width: 50px;
    list-style: none;
}

.link {
    display: inline-block;
        padding: 10px 20px;
        background-color: #0074D9;
        color: #fff;
        text-decoration: none;
        border: 1px solid #0074D9;
        border-radius: 5px;
        font-weight: bold;
        margin: 5px;
        text-align: center;
}

.link:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
}